In [30]:
# Importing Libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import requests
from census import Census

In [2]:
# CAS API Keys
api_key = "85ac64b6b5a9c0901b00329d1ef41f0c53ccfc98"

#base_url = "https://api.census.gov/data/2014/acs/acs1"

In [3]:
# Importing the Data
c = Census(api_key, year=2014)
print(c)

<census.core.Census object at 0x114cc75f8>

In [4]:
census_data = c.acs1.get(("NAME"      , "COUNTY"     , "B06010_001E", "B01002_001E",
                         "B06009_001E", "B06009_002E", "B06009_003E", "B06009_004E", 
                         "B06009_005E", "B06009_006E", "B02001_001E", "B02001_002E",
                         "B02001_003E", "B02001_004E", "B02001_005E", "B02001_006E",
                         "B02001_007E", "B02001_008E", "B01001_026E", "B01001_002E",
                         "B23025_005E", "B05010_001E", "B01003_001E"),{'for': 'county:*'})

# Convert to DataFrame
census_pd = pd.DataFrame(census_data)

census_pd.head()

,B01001_002E,B01001_026E,B01002_001E,B01003_001E,B02001_001E,B02001_002E,B02001_003E,B02001_004E,B02001_005E,B02001_006E,...,B06009_003E,B06009_004E,B06009_005E,B06009_006E,B06010_001E,B23025_005E,COUNTY,NAME,county,state
0,59320.0,59023.0,25.2,118343.0,118343.0,106227.0,223.0,781.0,3289.0,440.0,...,12943.0,21753.0,13190.0,7632.0,86835.0,2504.0,005,"Cache County, Utah",005,49
1,166412.0,163280.0,30.4,329692.0,329692.0,297761.0,4817.0,1135.0,6695.0,1166.0,...,36351.0,76402.0,46744.0,20495.0,236187.0,7385.0,011,"Davis County, Utah",011,49
2,548964.0,542778.0,32.2,1091742.0,1091742.0,884711.0,18547.0,8131.0,41693.0,17709.0,...,153605.0,235467.0,137481.0,77950.0,829858.0,26747.0,035,"Salt Lake County, Utah",035,49
3,283080.0,277894.0,24.5,560974.0,560974.0,517815.0,3712.0,2618.0,7609.0,3643.0,...,47851.0,105466.0,71353.0,30906.0,394081.0,12442.0,049,"Utah County, Utah",049,49
4,74655.0,77293.0,35.1,151948.0,151948.0,140986.0,1370.0,1738.0,1041.0,1488.0,...,20820.0,43369.0,15585.0,8698.0,116440.0,3470.0,053,"Washington County, Utah",053,49

In [5]:
# Column Reordering
census_pd = census_pd.rename(columns={"NAME"        : "county_name"       ,
                                      "COUNTY"      : "county"            , 
                                      "B06010_001E" : "gross_income"      , 
                                      "B01002_001E" : "median_age"        ,
                                      "B06009_001E" : "years_of_education", 
                                      "B06009_002E" : "less_than_hs"      , 
                                      "B06009_003E" : "high_school"       , 
                                      "B06009_004E" : "some_college"      , 
                                      "B06009_005E" : "college"           , 
                                      "B06009_006E" : "grad_school"       , 
                                      "B02001_001E" : "total_race"        , 
                                      "B02001_002E" : "white"             ,
                                      "B02001_003E" : "black"             , 
                                      "B02001_004E" : "native_american"   , 
                                      "B02001_005E" : "asian"             , 
                                      "B02001_006E" : "pacific_islander"  ,
                                      "B02001_007E" : "other"             , 
                                      "B02001_008E" : "multi_racial"      , 
                                      "B01001_026E" : "female"            , 
                                      "B01001_002E" : "male"              ,
                                      "B23025_005E" : "unemployment_rate" ,
                                      "B05010_001E" : "poverty_rate"      , 
                                      "B01003_001E" : "population_size"   })

census_pd.head()

,male,female,median_age,population_size,total_race,white,black,native_american,asian,pacific_islander,...,high_school,some_college,college,grad_school,gross_income,unemployment_rate,county,county_name,county,state
0,59320.0,59023.0,25.2,118343.0,118343.0,106227.0,223.0,781.0,3289.0,440.0,...,12943.0,21753.0,13190.0,7632.0,86835.0,2504.0,005,"Cache County, Utah",005,49
1,166412.0,163280.0,30.4,329692.0,329692.0,297761.0,4817.0,1135.0,6695.0,1166.0,...,36351.0,76402.0,46744.0,20495.0,236187.0,7385.0,011,"Davis County, Utah",011,49
2,548964.0,542778.0,32.2,1091742.0,1091742.0,884711.0,18547.0,8131.0,41693.0,17709.0,...,153605.0,235467.0,137481.0,77950.0,829858.0,26747.0,035,"Salt Lake County, Utah",035,49
3,283080.0,277894.0,24.5,560974.0,560974.0,517815.0,3712.0,2618.0,7609.0,3643.0,...,47851.0,105466.0,71353.0,30906.0,394081.0,12442.0,049,"Utah County, Utah",049,49
4,74655.0,77293.0,35.1,151948.0,151948.0,140986.0,1370.0,1738.0,1041.0,1488.0,...,20820.0,43369.0,15585.0,8698.0,116440.0,3470.0,053,"Washington County, Utah",053,49

In [6]:
# Values per capita

census_pd["gross_income_pc"]       = census_pd["gross_income"] / census_pd["population_size"] 
census_pd["years_of_education_pc"] = census_pd["years_of_education"] / census_pd["population_size"] 
census_pd["less_than_hs"]          = census_pd["less_than_hs"] / census_pd["population_size"] 
census_pd["high_school_pc"]        = census_pd["high_school"] / census_pd["population_size"] 
census_pd["some_college_pc"]       = census_pd["some_college"] / census_pd["population_size"] 
census_pd["college_pc"]            = census_pd["college"] / census_pd["population_size"] 
census_pd["grad_school_pc"]        = census_pd["grad_school"] / census_pd["population_size"] 
census_pd["total_race_pc"]         = census_pd["total_race"] / census_pd["population_size"] 
census_pd["white_pc"]              = census_pd["white"] / census_pd["population_size"]
census_pd["black_pc"]              = census_pd["black"] / census_pd["population_size"]
census_pd["native_american_pc"]    = census_pd["native_american"] / census_pd["population_size"]
census_pd["asian_pc"]              = census_pd["asian"] / census_pd["population_size"]
census_pd["pacific_islander_pc"]   = census_pd["pacific_islander"]/ census_pd["population_size"]
census_pd["other_pc"]              = census_pd["other"] / census_pd["population_size"]
census_pd["multi_racial_pc"]       = census_pd["multi_racial"] / census_pd["population_size"]
census_pd["female_pc"]             = census_pd["female"] / census_pd["population_size"]
census_pd["male_pc"]               = census_pd["male"] / census_pd["population_size"]
census_pd["unemployment_rate_pc"]  = census_pd["unemployment_rate"] / census_pd["population_size"]
census_pd["poverty_rate_pc"]       = census_pd["poverty_rate"] / census_pd["population_size"]

census_pd.head()

,male,female,median_age,population_size,total_race,white,black,native_american,asian,pacific_islander,...,black_pc,native_american_pc,asian_pc,pacific_islander_pc,other_pc,multi_racial_pc,female_pc,male_pc,unemployment_rate_pc,poverty_rate_pc
0,59320.0,59023.0,25.2,118343.0,118343.0,106227.0,223.0,781.0,3289.0,440.0,...,0.001884,0.006599,0.027792,0.003718,0.044684,0.017703,0.498745,0.501255,0.021159,0.302037
1,166412.0,163280.0,30.4,329692.0,329692.0,297761.0,4817.0,1135.0,6695.0,1166.0,...,0.014611,0.003443,0.020307,0.003537,0.023683,0.031272,0.495250,0.504750,0.022400,0.330411
2,548964.0,542778.0,32.2,1091742.0,1091742.0,884711.0,18547.0,8131.0,41693.0,17709.0,...,0.016988,0.007448,0.038189,0.016221,0.081992,0.028795,0.497167,0.502833,0.024499,0.272176
3,283080.0,277894.0,24.5,560974.0,560974.0,517815.0,3712.0,2618.0,7609.0,3643.0,...,0.006617,0.004667,0.013564,0.006494,0.017625,0.027969,0.495378,0.504622,0.022179,0.340613
4,74655.0,77293.0,35.1,151948.0,151948.0,140986.0,1370.0,1738.0,1041.0,1488.0,...,0.009016,0.011438,0.006851,0.009793,0.021244,0.013801,0.508681,0.491319,0.022837,0.271251

In [7]:
#CoolClimate Data
climate_data_to_load = "climate_data_county_ajc.csv"
climate_pd = pd.read_csv(climate_data_to_load)
climate_pd.head()

,Population,State,County,electricity (kWh),Nat. Gas (cu.ft.),FUELOIL (gallons),Vehicle miles traveled,Transport (tCO2e/yr),Housing (tCO2e/yr),Food (tCO2e/yr),Goods (tCO2e/yr),Services (tCO2e/yr),Total Household Carbon Footprint (tCO2e/yr),Households,Total County Carbon Footprint (tCO2e/yr)
0,10,AK,JUNEAU,"4,128","26,034",72,"8,074",5.9,6.1,3.8,3.1,3.5,22.3,85.0,"1,892"
1,4336,AK,YUKON KOYUKUK,"5,582","26,607",346,"10,364",7.5,5.4,8.8,4.7,5.0,31.4,1132.0,"35,513"
2,15981,AK,BETHEL,"5,938","26,562",557,"11,799",8.5,3.0,11.6,5.4,5.6,34.0,1239.0,"42,165"
3,1745,AK,LAKE AND PENINSULA,"6,092","25,539",580,"11,821",8.6,8.2,9.4,5.2,5.5,37.0,819.0,"30,276"
4,5098,AK,ALEUTIANS WEST,"5,362","23,407",502,"17,588",13.4,2.4,7.7,6.7,7.8,37.9,352.0,"13,344"

In [8]:
# Data with County and State
us_states_to_load = "us_states.csv"

us_states_df = pd.read_csv(us_states_to_load, 
                           header = None)

us_states_df.columns = ["Upper Full Name", 
                        "Proper Full Name", 
                        "State"]
us_states_df.head()

  Upper Full Name Proper Full Name State
0         ALABAMA          Alabama    AL
1          ALASKA           Alaska    AK
2         ARIZONA          Arizona    AZ
3        ARKANSAS         Arkansas    AR
4      CALIFORNIA       California    CA

In [9]:
# Merge both dataframes
states_complete = pd.merge(us_states_df, 
                           climate_pd, how = "left", 
                           on = 
                           ["State"])
states_complete.head()

,Upper Full Name,Proper Full Name,State,Population,County,electricity (kWh),Nat. Gas (cu.ft.),FUELOIL (gallons),Vehicle miles traveled,Transport (tCO2e/yr),Housing (tCO2e/yr),Food (tCO2e/yr),Goods (tCO2e/yr),Services (tCO2e/yr),Total Household Carbon Footprint (tCO2e/yr),Households,Total County Carbon Footprint (tCO2e/yr)
0,ALABAMA,Alabama,AL,14387,SUMTER,"12,667","28,415",6,"18,175",11.9,13.9,7.7,3.7,3.8,41.0,6654.0,"272,685"
1,ALABAMA,Alabama,AL,13563,WILCOX,"12,846","26,873",10,"18,756",12.2,14.1,8.2,3.7,3.7,41.8,6293.0,"262,872"
2,ALABAMA,Alabama,AL,22987,MACON,"12,983","34,664",1,"18,269",12.1,14.6,7.3,3.9,4.0,41.9,10104.0,"422,969"
3,ALABAMA,Alabama,AL,9809,GREENE,"13,157","29,872",4,"18,821",12.4,14.4,7.5,3.7,3.9,41.9,5029.0,"210,619"
4,ALABAMA,Alabama,AL,12701,BULLOCK,"12,493","28,330",1,"19,187",12.6,13.8,7.7,3.9,4.0,41.9,5166.0,"216,678"

In [10]:
# Getting variables in the correct format
states_complete["County"] = states_complete["County"].str.title()
states_complete.head()

,Upper Full Name,Proper Full Name,State,Population,County,electricity (kWh),Nat. Gas (cu.ft.),FUELOIL (gallons),Vehicle miles traveled,Transport (tCO2e/yr),Housing (tCO2e/yr),Food (tCO2e/yr),Goods (tCO2e/yr),Services (tCO2e/yr),Total Household Carbon Footprint (tCO2e/yr),Households,Total County Carbon Footprint (tCO2e/yr)
0,ALABAMA,Alabama,AL,14387,Sumter,"12,667","28,415",6,"18,175",11.9,13.9,7.7,3.7,3.8,41.0,6654.0,"272,685"
1,ALABAMA,Alabama,AL,13563,Wilcox,"12,846","26,873",10,"18,756",12.2,14.1,8.2,3.7,3.7,41.8,6293.0,"262,872"
2,ALABAMA,Alabama,AL,22987,Macon,"12,983","34,664",1,"18,269",12.1,14.6,7.3,3.9,4.0,41.9,10104.0,"422,969"
3,ALABAMA,Alabama,AL,9809,Greene,"13,157","29,872",4,"18,821",12.4,14.4,7.5,3.7,3.9,41.9,5029.0,"210,619"
4,ALABAMA,Alabama,AL,12701,Bullock,"12,493","28,330",1,"19,187",12.6,13.8,7.7,3.9,4.0,41.9,5166.0,"216,678"

In [11]:
# Creating the keys to mewrge the data sets
states_complete["county_name"] = states_complete["County"] + " County, " + states_complete["Proper Full Name"]
states_complete.head()

,Upper Full Name,Proper Full Name,State,Population,County,electricity (kWh),Nat. Gas (cu.ft.),FUELOIL (gallons),Vehicle miles traveled,Transport (tCO2e/yr),Housing (tCO2e/yr),Food (tCO2e/yr),Goods (tCO2e/yr),Services (tCO2e/yr),Total Household Carbon Footprint (tCO2e/yr),Households,Total County Carbon Footprint (tCO2e/yr),county_name
0,ALABAMA,Alabama,AL,14387,Sumter,"12,667","28,415",6,"18,175",11.9,13.9,7.7,3.7,3.8,41.0,6654.0,"272,685","Sumter County, Alabama"
1,ALABAMA,Alabama,AL,13563,Wilcox,"12,846","26,873",10,"18,756",12.2,14.1,8.2,3.7,3.7,41.8,6293.0,"262,872","Wilcox County, Alabama"
2,ALABAMA,Alabama,AL,22987,Macon,"12,983","34,664",1,"18,269",12.1,14.6,7.3,3.9,4.0,41.9,10104.0,"422,969","Macon County, Alabama"
3,ALABAMA,Alabama,AL,9809,Greene,"13,157","29,872",4,"18,821",12.4,14.4,7.5,3.7,3.9,41.9,5029.0,"210,619","Greene County, Alabama"
4,ALABAMA,Alabama,AL,12701,Bullock,"12,493","28,330",1,"19,187",12.6,13.8,7.7,3.9,4.0,41.9,5166.0,"216,678","Bullock County, Alabama"

In [28]:
# Renaming some variables
states_complete = states_complete.rename(columns={"Upper Full Name"                              : "upper_state"       ,
                                                  "Proper Full Name"                             : "title_state"       ,
                                                  "State"                                        : "state_abbrev"      ,
                                                  "Population"                                   : "population"        ,
                                                  "County"                                       : "county"            ,
                                                  "electricity (kWh)"                            : "electricity"       ,
                                                  "Nat. Gas (cu.ft.)"                            : "natural_gas"       ,
                                                  "FUELOIL (gallons)"                            : "fuel_oil"          ,
                                                  "Vehicle miles traveled"                       : "vehicle_miles"     ,
                                                  " Transport (tCO2e/yr) "                       : "transport_fp"      ,
                                                  " Housing (tCO2e/yr) "                         : "housing_fp"        ,
                                                  " Food (tCO2e/yr) "                            : "food_fp"           ,
                                                  " Goods (tCO2e/yr) "                           : "goods_fp"          ,
                                                  " Services (tCO2e/yr) "                        : "services_fp"       ,
                                                  " Total Household Carbon Footprint (tCO2e/yr) ": "household_total_fp",
                                                  " Households "                                 : "household_count"   ,
                                                  " Total County Carbon Footprint (tCO2e/yr) "   : "county_total_fp"}  )
states_complete.head()

,upper_state,title_state,state_abbrev,population,county,electricity,natural_gas,fuel_oil,vehicle_miles,transport_fp,housing_fp,food_fp,goods_fp,services_fp,household_total_fp,household_count,county_total_fp,county_name
0,ALABAMA,Alabama,AL,14387,Sumter,"12,667","28,415",6,"18,175",11.9,13.9,7.7,3.7,3.8,41.0,6654.0,"272,685","Sumter County, Alabama"
1,ALABAMA,Alabama,AL,13563,Wilcox,"12,846","26,873",10,"18,756",12.2,14.1,8.2,3.7,3.7,41.8,6293.0,"262,872","Wilcox County, Alabama"
2,ALABAMA,Alabama,AL,22987,Macon,"12,983","34,664",1,"18,269",12.1,14.6,7.3,3.9,4.0,41.9,10104.0,"422,969","Macon County, Alabama"
3,ALABAMA,Alabama,AL,9809,Greene,"13,157","29,872",4,"18,821",12.4,14.4,7.5,3.7,3.9,41.9,5029.0,"210,619","Greene County, Alabama"
4,ALABAMA,Alabama,AL,12701,Bullock,"12,493","28,330",1,"19,187",12.6,13.8,7.7,3.9,4.0,41.9,5166.0,"216,678","Bullock County, Alabama"

In [39]:
climate_census = pd.merge(states_complete,
                          census_pd,
                          how = "left",
                          on = "county_name")

climate_census.head()

,upper_state,title_state,state_abbrev,population,county_x,electricity,natural_gas,fuel_oil,vehicle_miles,transport_fp,...,black_pc,native_american_pc,asian_pc,pacific_islander_pc,other_pc,multi_racial_pc,female_pc,male_pc,unemployment_rate_pc,poverty_rate_pc
0,ALABAMA,Alabama,AL,14387,Sumter,"12,667","28,415",6,"18,175",11.9,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,ALABAMA,Alabama,AL,13563,Wilcox,"12,846","26,873",10,"18,756",12.2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,ALABAMA,Alabama,AL,22987,Macon,"12,983","34,664",1,"18,269",12.1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,ALABAMA,Alabama,AL,9809,Greene,"13,157","29,872",4,"18,821",12.4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,ALABAMA,Alabama,AL,12701,Bullock,"12,493","28,330",1,"19,187",12.6,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN