In [1]:
# Importing Libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import requests
from census import Census
import statsmodels.formula.api as smf

In [2]:
# CAS API Keys
api_key = "85ac64b6b5a9c0901b00329d1ef41f0c53ccfc98"

#base_url = "https://api.census.gov/data/2014/acs/acs1"

In [3]:
# Importing the Data
c = Census(api_key, year=2014)
print(c)

<census.core.Census object at 0x0000010DA0A9CB00>

In [4]:
census_data = c.acs5.get(("NAME"      , "COUNTY"     , "B06010_001E", "B01002_001E",
                         "B06009_001E", "B06009_002E", "B06009_003E", "B06009_004E", 
                         "B06009_005E", "B06009_006E", "B02001_001E", "B02001_002E",
                         "B02001_003E", "B02001_004E", "B02001_005E", "B02001_006E",
                         "B02001_007E", "B02001_008E", "B01001_026E", "B01001_002E",
                         "B23025_005E", "B05010_001E", "B01003_001E"),{'for': 'county:*'})

# Convert to DataFrame
census_pd = pd.DataFrame(census_data)

census_pd.head()

,B01001_002E,B01001_026E,B01002_001E,B01003_001E,B02001_001E,B02001_002E,B02001_003E,B02001_004E,B02001_005E,B02001_006E,...,B06009_003E,B06009_004E,B06009_005E,B06009_006E,B06010_001E,B23025_005E,COUNTY,NAME,county,state
0,4913688.0,5060515.0,35.3,9974203.0,9974203.0,5329333.0,832253.0,54409.0,1394349.0,26074.0,...,1347268.0,1728972.0,1281851.0,679412.0,8049317.0,564669.0,037,"Los Angeles County, California",037,06
1,73450.0,79002.0,33.3,152452.0,152452.0,125830.0,5382.0,2287.0,3335.0,254.0,...,22190.0,30369.0,8858.0,3804.0,116777.0,5530.0,039,"Madera County, California",039,06
2,125838.0,130964.0,45.1,256802.0,256802.0,203975.0,6913.0,674.0,14565.0,593.0,...,23040.0,48100.0,58107.0,45233.0,212605.0,9756.0,041,"Marin County, California",041,06
3,9050.0,8896.0,50.2,17946.0,17946.0,15850.0,155.0,598.0,232.0,74.0,...,3826.0,5251.0,2006.0,1050.0,15468.0,1132.0,043,"Mariposa County, California",043,06
4,43979.0,43633.0,42.0,87612.0,87612.0,72141.0,705.0,4169.0,1570.0,186.0,...,16137.0,22575.0,8930.0,4842.0,71774.0,5193.0,045,"Mendocino County, California",045,06

In [5]:
# Column Reordering
census_pd = census_pd.rename(columns={"NAME"        : "county_name"       ,
                                      "COUNTY"      : "county"            , 
                                      "B06010_001E" : "gross_income"      , 
                                      "B01002_001E" : "median_age"        ,
                                      "B06009_001E" : "years_of_education", 
                                      "B06009_002E" : "less_than_hs"      , 
                                      "B06009_003E" : "high_school"       , 
                                      "B06009_004E" : "some_college"      , 
                                      "B06009_005E" : "college"           , 
                                      "B06009_006E" : "grad_school"       , 
                                      "B02001_001E" : "total_race"        , 
                                      "B02001_002E" : "white"             ,
                                      "B02001_003E" : "black"             , 
                                      "B02001_004E" : "native_american"   , 
                                      "B02001_005E" : "asian"             , 
                                      "B02001_006E" : "pacific_islander"  ,
                                      "B02001_007E" : "other"             , 
                                      "B02001_008E" : "multi_racial"      , 
                                      "B01001_026E" : "female"            , 
                                      "B01001_002E" : "male"              ,
                                      "B23025_005E" : "unemployment_rate" ,
                                      "B05010_001E" : "poverty_rate"      , 
                                      "B01003_001E" : "population_size"   })

census_pd.head()

,male,female,median_age,population_size,total_race,white,black,native_american,asian,pacific_islander,...,high_school,some_college,college,grad_school,gross_income,unemployment_rate,county,county_name,county,state
0,4913688.0,5060515.0,35.3,9974203.0,9974203.0,5329333.0,832253.0,54409.0,1394349.0,26074.0,...,1347268.0,1728972.0,1281851.0,679412.0,8049317.0,564669.0,037,"Los Angeles County, California",037,06
1,73450.0,79002.0,33.3,152452.0,152452.0,125830.0,5382.0,2287.0,3335.0,254.0,...,22190.0,30369.0,8858.0,3804.0,116777.0,5530.0,039,"Madera County, California",039,06
2,125838.0,130964.0,45.1,256802.0,256802.0,203975.0,6913.0,674.0,14565.0,593.0,...,23040.0,48100.0,58107.0,45233.0,212605.0,9756.0,041,"Marin County, California",041,06
3,9050.0,8896.0,50.2,17946.0,17946.0,15850.0,155.0,598.0,232.0,74.0,...,3826.0,5251.0,2006.0,1050.0,15468.0,1132.0,043,"Mariposa County, California",043,06
4,43979.0,43633.0,42.0,87612.0,87612.0,72141.0,705.0,4169.0,1570.0,186.0,...,16137.0,22575.0,8930.0,4842.0,71774.0,5193.0,045,"Mendocino County, California",045,06

In [6]:
# Values per capita

census_pd["gross_income_pc"]       = census_pd["gross_income"] / census_pd["population_size"] 
census_pd["years_of_education_pc"] = census_pd["years_of_education"] / census_pd["population_size"] 
census_pd["less_than_hs"]          = census_pd["less_than_hs"] / census_pd["population_size"] 
census_pd["high_school_pc"]        = census_pd["high_school"] / census_pd["population_size"] 
census_pd["some_college_pc"]       = census_pd["some_college"] / census_pd["population_size"] 
census_pd["college_pc"]            = census_pd["college"] / census_pd["population_size"] 
census_pd["grad_school_pc"]        = census_pd["grad_school"] / census_pd["population_size"] 
census_pd["total_race_pc"]         = census_pd["total_race"] / census_pd["population_size"] 
census_pd["white_pc"]              = census_pd["white"] / census_pd["population_size"]
census_pd["black_pc"]              = census_pd["black"] / census_pd["population_size"]
census_pd["native_american_pc"]    = census_pd["native_american"] / census_pd["population_size"]
census_pd["asian_pc"]              = census_pd["asian"] / census_pd["population_size"]
census_pd["pacific_islander_pc"]   = census_pd["pacific_islander"]/ census_pd["population_size"]
census_pd["other_pc"]              = census_pd["other"] / census_pd["population_size"]
census_pd["multi_racial_pc"]       = census_pd["multi_racial"] / census_pd["population_size"]
census_pd["female_pc"]             = census_pd["female"] / census_pd["population_size"]
census_pd["male_pc"]               = census_pd["male"] / census_pd["population_size"]
census_pd["unemployment_rate_pc"]  = census_pd["unemployment_rate"] / census_pd["population_size"]
census_pd["poverty_rate_pc"]       = census_pd["poverty_rate"] / census_pd["population_size"]

census_pd.head()

,male,female,median_age,population_size,total_race,white,black,native_american,asian,pacific_islander,...,black_pc,native_american_pc,asian_pc,pacific_islander_pc,other_pc,multi_racial_pc,female_pc,male_pc,unemployment_rate_pc,poverty_rate_pc
0,4913688.0,5060515.0,35.3,9974203.0,9974203.0,5329333.0,832253.0,54409.0,1394349.0,26074.0,...,0.083441,0.005455,0.139796,0.002614,0.195498,0.038885,0.507360,0.492640,0.056613,0.224347
1,73450.0,79002.0,33.3,152452.0,152452.0,125830.0,5382.0,2287.0,3335.0,254.0,...,0.035303,0.015001,0.021876,0.001666,0.067261,0.033519,0.518209,0.481791,0.036274,0.267205
2,125838.0,130964.0,45.1,256802.0,256802.0,203975.0,6913.0,674.0,14565.0,593.0,...,0.026920,0.002625,0.056717,0.002309,0.076573,0.040568,0.509980,0.490020,0.037990,0.199909
3,9050.0,8896.0,50.2,17946.0,17946.0,15850.0,155.0,598.0,232.0,74.0,...,0.008637,0.033322,0.012928,0.004123,0.022233,0.035551,0.495709,0.504291,0.063078,0.159200
4,43979.0,43633.0,42.0,87612.0,87612.0,72141.0,705.0,4169.0,1570.0,186.0,...,0.008047,0.047585,0.017920,0.002123,0.063188,0.037723,0.498025,0.501975,0.059273,0.199801

In [20]:
#CoolClimate Data
climate_data_to_load = "climate_data_updated.csv"
climate_pd = pd.read_csv(climate_data_to_load)
climate_pd.head()

,Population,State,County,electricity (kWh),Nat. Gas (cu.ft.),FUELOIL (gallons),Vehicle miles traveled,Transport (tCO2e/yr),Housing (tCO2e/yr),Food (tCO2e/yr),Goods (tCO2e/yr),Services (tCO2e/yr),Total Household Carbon Footprint (tCO2e/yr),Households,Total County Carbon Footprint (tCO2e/yr)
0,58,TX,LOVING,9969,23548,-,24184,16.6,10.9,6.7,4.9,5.6,44.6,53.0,2366.0
1,224,TX,KING,10834,26070,-,28747,19.1,11.7,8.5,5.4,5.8,50.4,78.0,3935.0
2,238,TX,BORDEN,9874,24053,-,28174,18.7,10.9,8.1,4.7,5.2,47.6,111.0,5281.0
3,331,NE,ARTHUR,9953,24450,-,27847,18.4,14.6,7.1,4.4,4.8,49.3,202.0,9952.0
4,364,TX,KENEDY,12372,24921,-,19089,12.5,12.2,9.0,4.3,4.3,42.4,216.0,9158.0

In [19]:
# Data with County and State
us_states_to_load = "us_states.csv"

us_states_df = pd.read_csv(us_states_to_load, 
                           header = None)

us_states_df.columns = ["Upper Full Name", 
                        "Proper Full Name", 
                        "State"]
us_states_df.head()

  Upper Full Name Proper Full Name State
0         ALABAMA          Alabama    AL
1          ALASKA           Alaska    AK
2         ARIZONA          Arizona    AZ
3        ARKANSAS         Arkansas    AR
4      CALIFORNIA       California    CA

In [9]:
# Merge both dataframes
states_complete = pd.merge(us_states_df, 
                           climate_pd, 
                           how = "left", 
                           on = ["State"]) 

states_complete

,Upper Full Name,Proper Full Name,State,Population,County,electricity (kWh),Nat. Gas (cu.ft.),FUELOIL (gallons),Vehicle miles traveled,Transport (tCO2e/yr),Housing (tCO2e/yr),Food (tCO2e/yr),Goods (tCO2e/yr),Services (tCO2e/yr),Total Household Carbon Footprint (tCO2e/yr),Households,Total County Carbon Footprint (tCO2e/yr)
0,ALABAMA,Alabama,AL,14387,SUMTER,"12,667","28,415",6,"18,175",11.9,13.9,7.7,3.7,3.8,41.0,6654.0,"272,685"
1,ALABAMA,Alabama,AL,13563,WILCOX,"12,846","26,873",10,"18,756",12.2,14.1,8.2,3.7,3.7,41.8,6293.0,"262,872"
2,ALABAMA,Alabama,AL,22987,MACON,"12,983","34,664",1,"18,269",12.1,14.6,7.3,3.9,4.0,41.9,10104.0,"422,969"
3,ALABAMA,Alabama,AL,9809,GREENE,"13,157","29,872",4,"18,821",12.4,14.4,7.5,3.7,3.9,41.9,5029.0,"210,619"
4,ALABAMA,Alabama,AL,12701,BULLOCK,"12,493","28,330",1,"19,187",12.6,13.8,7.7,3.9,4.0,41.9,5166.0,"216,678"
5,ALABAMA,Alabama,AL,9830,PERRY,"13,880","32,364",3,"18,226",11.9,15.1,8.0,3.7,3.8,42.5,4266.0,"181,153"
6,ALABAMA,Alabama,AL,30485,PIKE,"11,983","27,026",3,"21,059",14.0,13.3,7.2,4.1,4.3,42.8,14435.0,"618,425"
7,ALABAMA,Alabama,AL,27630,BARBOUR,"12,508","27,275",1,"20,836",13.8,13.8,7.6,4.1,4.3,43.5,11744.0,"511,117"
8,ALABAMA,Alabama,AL,48892,RUSSELL,"12,328","28,993",2,"20,674",13.8,13.7,7.5,4.3,4.6,43.9,26673.0,"1,171,923"
9,ALABAMA,Alabama,AL,13892,CONECUH,"13,814","28,256",1,"21,171",13.9,14.8,7.3,3.9,4.1,44.0,7000.0,"307,713"
10,ALABAMA,Alabama,AL,48283,DALLAS,"13,967","34,896",1,"19,349",12.8,15.3,7.7,4.0,4.2,44.1,21280.0,"937,449"
11,ALABAMA,Alabama,AL,21281,BUTLER,"13,423","28,556",-,"21,187",14.0,14.5,7.5,4.0,4.2,44.3,10028.0,"444,238"
12,ALABAMA,Alabama,AL,12217,LOWNDES,"13,513","27,473",2,"21,147",13.9,14.5,8.2,4.0,4.1,44.7,5322.0,"237,817"
13,ALABAMA,Alabama,AL,113557,LEE,"11,882","28,457",1,"22,895",15.3,13.3,7.3,4.4,4.8,45.1,67911.0,"3,065,726"
14,ALABAMA,Alabama,AL,15752,CHOCTAW,"13,004","26,413",1,"23,362",15.3,14.1,7.4,4.0,4.3,45.2,7800.0,"352,425"
15,ALABAMA,Alabama,AL,21818,MARENGO,"13,389","30,076",5,"21,395",14.2,14.7,7.6,4.2,4.5,45.2,9765.0,"441,497"
16,ALABAMA,Alabama,AL,20311,CHEROKEE,"12,084","27,723",4,"22,822",15.3,13.7,7.2,4.4,4.8,45.4,12418.0,"563,662"
17,ALABAMA,Alabama,AL,13694,CRENSHAW,"13,202","27,254",2,"23,777",15.7,14.2,7.2,4.1,4.3,45.5,6814.0,"309,934"
18,ALABAMA,Alabama,AL,37223,COVINGTON,"13,714","28,382",1,"22,901",15.2,14.7,7.1,4.1,4.4,45.6,18336.0,"835,817"
19,ALABAMA,Alabama,AL,17910,HALE,"13,762","29,705",3,"21,518",14.2,14.9,7.9,4.2,4.4,45.7,8067.0,"368,301"
20,ALABAMA,Alabama,AL,86700,HOUSTON,"12,740","26,112",4,"21,909",14.8,13.9,7.3,4.6,5.1,45.8,38787.0,"1,776,292"
21,ALABAMA,Alabama,AL,22817,MONROE,"13,634","27,699",1,"21,896",14.6,14.6,7.7,4.3,4.6,45.9,10637.0,"487,965"
22,ALABAMA,Alabama,AL,37244,TALLAPOOSA,"12,925","29,587",2,"22,678",15.2,14.2,7.3,4.5,4.9,46.1,18715.0,"862,017"
23,ALABAMA,Alabama,AL,26722,GENEVA,"13,501","26,348",7,"24,018",15.8,14.5,7.3,4.1,4.4,46.2,12492.0,"577,203"
24,ALABAMA,Alabama,AL,38461,ESCAMBIA,"13,302","27,966",6,"23,159",15.4,14.5,7.4,4.3,4.6,46.2,16544.0,"764,456"
25,ALABAMA,Alabama,AL,36605,CHAMBERS,"13,519","32,269",3,"22,292",14.9,14.9,7.5,4.4,4.7,46.4,16385.0,"760,309"
26,ALABAMA,Alabama,AL,21161,PICKENS,"13,600","29,590",11,"23,144",15.3,14.8,7.7,4.2,4.5,46.5,9669.0,"449,585"
27,ALABAMA,Alabama,AL,27241,WINSTON,"12,774","30,125",4,"24,682",16.3,14.4,7.3,4.2,4.5,46.7,13291.0,"620,924"
28,ALABAMA,Alabama,AL,156029,TUSCALOOSA,"13,100","31,178",2,"22,638",15.3,14.4,7.2,4.7,5.1,46.8,67864.0,"3,176,042"
29,ALABAMA,Alabama,AL,16600,HENRY,"13,699","26,358",7,"23,583",15.7,14.6,7.5,4.4,4.8,47.0,8127.0,"382,031"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3093,WISCONSIN,Wisconsin,WI,20605,KEWAUNEE,"10,297","47,825",127,"29,639",19.9,16.7,7.9,5.3,5.9,55.8,8561.0,"477,972"
3094,WISCONSIN,Wisconsin,WI,23664,CALUMET,"11,005","55,882",110,"29,392",20.0,17.7,7.8,5.6,6.3,57.4,9525.0,"546,848"
3095,WISCONSIN,Wisconsin,WI,42490,PIERCE,"10,499","48,530",53,"32,362",21.9,16.3,7.9,5.7,6.4,58.2,15703.0,"913,916"
3096,WISCONSIN,Wisconsin,WI,118096,WASHINGTON,"11,215","60,188",50,"29,998",20.7,16.9,8.0,6.2,7.1,58.9,46018.0,"2,709,614"
3097,WISCONSIN,Wisconsin,WI,364266,WAUKESHA,"11,719","68,993",42,"29,258",20.5,17.9,7.9,6.6,7.6,60.6,141815.0,"8,590,987"
3098,WISCONSIN,Wisconsin,WI,56489,SAINT CROIX,"11,285","53,298",55,"32,645",22.3,17.4,8.0,6.2,7.0,60.9,21706.0,"1,321,736"
3099,WISCONSIN,Wisconsin,WI,82662,OZAUKEE,"11,886","69,730",40,"29,816",21.0,18.2,7.9,6.7,7.8,61.5,32414.0,"1,994,255"
3100,WYOMING,Wyoming,WY,4882,HOT SPRINGS,"8,748","55,719",9,"23,740",15.8,10.7,6.7,4.3,4.7,42.3,2536.0,"107,156"
3101,WYOMING,Wyoming,WY,5893,SUBLETTE,"9,100","38,349",15,"24,755",16.8,9.8,7.4,5.0,5.5,44.5,3508.0,"155,973"
3102,WYOMING,Wyoming,WY,31989,ALBANY,"7,863","52,751",0,"22,066",14.8,14.1,6.7,4.2,4.6,44.5,15002.0,"667,977"
3103,WYOMING,Wyoming,WY,17930,TETON,"7,407","24,782",15,"23,348",16.6,7.9,7.1,6.0,6.9,44.6,9795.0,"436,914"
3104,WYOMING,Wyoming,WY,15567,CARBON,"9,193","55,615",1,"23,557",16.0,12.7,7.2,4.8,5.3,45.9,8277.0,"379,767"
3105,WYOMING,Wyoming,WY,25699,PARK,"10,081","59,120",3,"25,726",17.3,11.6,7.3,4.7,5.2,46.0,11827.0,"543,811"
3106,WYOMING,Wyoming,WY,8318,WASHAKIE,"10,255","62,921",1,"25,880",17.3,12.3,7.4,4.7,5.2,46.9,3664.0,"171,758"
3107,WYOMING,Wyoming,WY,35804,FREMONT,"9,131","50,317",2,"24,788",16.5,13.7,7.8,4.6,4.9,47.5,15541.0,"738,509"
3108,WYOMING,Wyoming,WY,14685,LINCOLN,"9,613","37,872",8,"27,534",18.5,10.1,8.4,5.2,5.7,47.8,6727.0,"321,755"
3109,WYOMING,Wyoming,WY,26702,SHERIDAN,"9,083","51,039",1,"23,620",16.0,15.3,7.0,4.6,5.1,48.0,12658.0,"607,786"
3110,WYOMING,Wyoming,WY,66461,NATRONA,"10,005","63,048",0,"24,862",16.8,14.0,7.3,4.8,5.3,48.2,29794.0,"1,436,040"
3111,WYOMING,Wyoming,WY,12089,CONVERSE,"10,285","54,756",-,"28,298",19.0,11.3,7.6,5.0,5.5,48.5,5689.0,"275,871"
3112,WYOMING,Wyoming,WY,81630,LARAMIE,"10,338","65,017",1,"25,017",17.0,13.4,7.4,5.1,5.7,48.6,33484.0,"1,625,902"
3113,WYOMING,Wyoming,WY,9006,PLATTE,"9,557","51,954",2,"25,269",16.9,16.0,7.2,4.6,5.1,49.9,4798.0,"239,228"
3114,WYOMING,Wyoming,WY,12486,GOSHEN,"9,901","58,261",5,"25,036",16.7,16.9,7.2,4.5,4.9,50.1,5848.0,"292,947"
3115,WYOMING,Wyoming,WY,2370,NIOBRARA,"10,308","55,589",14,"25,807",17.1,17.3,6.8,4.3,4.7,50.1,1318.0,"66,073"
3116,WYOMING,Wyoming,WY,7051,JOHNSON,"9,978","55,785",1,"25,645",17.1,16.7,7.1,4.6,5.0,50.5,3548.0,"179,174"
3117,WYOMING,Wyoming,WY,11415,BIG HORN,"11,117","62,857",3,"26,725",17.7,16.0,7.9,4.6,5.0,51.2,5001.0,"255,967"
3118,WYOMING,Wyoming,WY,6742,WESTON,"9,357","47,476",3,"28,565",18.9,15.5,7.3,4.6,5.0,51.2,3267.0,"167,385"
3119,WYOMING,Wyoming,WY,37600,SWEETWATER,"10,193","68,589",0,"28,920",19.6,12.3,7.9,5.5,6.2,51.4,15898.0,"817,863"
3120,WYOMING,Wyoming,WY,5945,CROOK,"9,129","30,660",13,"29,845",19.8,14.3,7.5,4.8,5.3,51.8,2962.0,"153,335"
3121,WYOMING,Wyoming,WY,19742,UINTA,"10,591","61,980",1,"28,625",19.3,13.9,8.5,5.5,6.0,53.2,8011.0,"426,372"
3122,WYOMING,Wyoming,WY,33496,CAMPBELL,"10,247","49,850",2,"32,912",22.2,16.6,8.2,5.7,6.4,59.2,13187.0,"780,405"

In [10]:
# Getting variables in the correct format
states_complete["County"] = states_complete["County"].str.title()
states_complete.head()

,Upper Full Name,Proper Full Name,State,Population,County,electricity (kWh),Nat. Gas (cu.ft.),FUELOIL (gallons),Vehicle miles traveled,Transport (tCO2e/yr),Housing (tCO2e/yr),Food (tCO2e/yr),Goods (tCO2e/yr),Services (tCO2e/yr),Total Household Carbon Footprint (tCO2e/yr),Households,Total County Carbon Footprint (tCO2e/yr)
0,ALABAMA,Alabama,AL,14387,Sumter,"12,667","28,415",6,"18,175",11.9,13.9,7.7,3.7,3.8,41.0,6654.0,"272,685"
1,ALABAMA,Alabama,AL,13563,Wilcox,"12,846","26,873",10,"18,756",12.2,14.1,8.2,3.7,3.7,41.8,6293.0,"262,872"
2,ALABAMA,Alabama,AL,22987,Macon,"12,983","34,664",1,"18,269",12.1,14.6,7.3,3.9,4.0,41.9,10104.0,"422,969"
3,ALABAMA,Alabama,AL,9809,Greene,"13,157","29,872",4,"18,821",12.4,14.4,7.5,3.7,3.9,41.9,5029.0,"210,619"
4,ALABAMA,Alabama,AL,12701,Bullock,"12,493","28,330",1,"19,187",12.6,13.8,7.7,3.9,4.0,41.9,5166.0,"216,678"

In [11]:
# Creating the keys to merge the data sets
states_complete["county_name"] = states_complete["County"] + "County, " + states_complete["Proper Full Name"]
states_complete.head()

,Upper Full Name,Proper Full Name,State,Population,County,electricity (kWh),Nat. Gas (cu.ft.),FUELOIL (gallons),Vehicle miles traveled,Transport (tCO2e/yr),Housing (tCO2e/yr),Food (tCO2e/yr),Goods (tCO2e/yr),Services (tCO2e/yr),Total Household Carbon Footprint (tCO2e/yr),Households,Total County Carbon Footprint (tCO2e/yr),county_name
0,ALABAMA,Alabama,AL,14387,Sumter,"12,667","28,415",6,"18,175",11.9,13.9,7.7,3.7,3.8,41.0,6654.0,"272,685","Sumter County, Alabama"
1,ALABAMA,Alabama,AL,13563,Wilcox,"12,846","26,873",10,"18,756",12.2,14.1,8.2,3.7,3.7,41.8,6293.0,"262,872","Wilcox County, Alabama"
2,ALABAMA,Alabama,AL,22987,Macon,"12,983","34,664",1,"18,269",12.1,14.6,7.3,3.9,4.0,41.9,10104.0,"422,969","Macon County, Alabama"
3,ALABAMA,Alabama,AL,9809,Greene,"13,157","29,872",4,"18,821",12.4,14.4,7.5,3.7,3.9,41.9,5029.0,"210,619","Greene County, Alabama"
4,ALABAMA,Alabama,AL,12701,Bullock,"12,493","28,330",1,"19,187",12.6,13.8,7.7,3.9,4.0,41.9,5166.0,"216,678","Bullock County, Alabama"

In [12]:
# Renaming some variables
states_complete = states_complete.rename(columns={"Upper Full Name"                              : "upper_state"       ,
                                                  "Proper Full Name"                             : "title_state"       ,
                                                  "State"                                        : "state_abbrev"      ,
                                                  "Population"                                   : "population"        ,
                                                  "County"                                       : "county"            ,
                                                  "electricity (kWh)"                            : "electricity"       ,
                                                  "Nat. Gas (cu.ft.)"                            : "natural_gas"       ,
                                                  "FUELOIL (gallons)"                            : "fuel_oil"          ,
                                                  "Vehicle miles traveled"                       : "vehicle_miles"     ,
                                                  " Transport (tCO2e/yr) "                       : "transport_fp"      ,
                                                  " Housing (tCO2e/yr) "                         : "housing_fp"        ,
                                                  " Food (tCO2e/yr) "                            : "food_fp"           ,
                                                  " Goods (tCO2e/yr) "                           : "goods_fp"          ,
                                                  " Services (tCO2e/yr) "                        : "services_fp"       ,
                                                  " Total Household Carbon Footprint (tCO2e/yr) ": "household_total_fp",
                                                  " Households "                                 : "household_count"   ,
                                                  " Total County Carbon Footprint (tCO2e/yr) "   : "county_total_fp"}  )
states_complete.head()

,upper_state,title_state,state_abbrev,population,county,electricity,natural_gas,fuel_oil,vehicle_miles,transport_fp,housing_fp,food_fp,goods_fp,services_fp,household_total_fp,household_count,county_total_fp,county_name
0,ALABAMA,Alabama,AL,14387,Sumter,"12,667","28,415",6,"18,175",11.9,13.9,7.7,3.7,3.8,41.0,6654.0,"272,685","Sumter County, Alabama"
1,ALABAMA,Alabama,AL,13563,Wilcox,"12,846","26,873",10,"18,756",12.2,14.1,8.2,3.7,3.7,41.8,6293.0,"262,872","Wilcox County, Alabama"
2,ALABAMA,Alabama,AL,22987,Macon,"12,983","34,664",1,"18,269",12.1,14.6,7.3,3.9,4.0,41.9,10104.0,"422,969","Macon County, Alabama"
3,ALABAMA,Alabama,AL,9809,Greene,"13,157","29,872",4,"18,821",12.4,14.4,7.5,3.7,3.9,41.9,5029.0,"210,619","Greene County, Alabama"
4,ALABAMA,Alabama,AL,12701,Bullock,"12,493","28,330",1,"19,187",12.6,13.8,7.7,3.9,4.0,41.9,5166.0,"216,678","Bullock County, Alabama"

In [13]:
climate_census = pd.merge(census_pd,
                          states_complete,
                          how = "inner",
                          on = "county_name")
climate_census.columns

Index(['male', 'female', 'median_age', 'population_size', 'total_race',
       'white', 'black', 'native_american', 'asian', 'pacific_islander',
       'other', 'multi_racial', 'poverty_rate', 'years_of_education',
       'less_than_hs', 'high_school', 'some_college', 'college', 'grad_school',
       'gross_income', 'unemployment_rate', 'county_x', 'county_name',
       'county_x', 'state', 'gross_income_pc', 'years_of_education_pc',
       'high_school_pc', 'some_college_pc', 'college_pc', 'grad_school_pc',
       'total_race_pc', 'white_pc', 'black_pc', 'native_american_pc',
       'asian_pc', 'pacific_islander_pc', 'other_pc', 'multi_racial_pc',
       'female_pc', 'male_pc', 'unemployment_rate_pc', 'poverty_rate_pc',
       'upper_state', 'title_state', 'state_abbrev', 'population', 'county_y',
       'electricity', 'natural_gas', 'fuel_oil', 'vehicle_miles',
       'transport_fp', 'housing_fp', 'food_fp', 'goods_fp', 'services_fp',
       'household_total_fp', 'household_count', 'county_total_fp'],
      dtype='object')

In [14]:
climate_census["pop_household"] = climate_census["population_size"] / climate_census["household_count"]  
climate_census

,male,female,median_age,population_size,total_race,white,black,native_american,asian,pacific_islander,...,vehicle_miles,transport_fp,housing_fp,food_fp,goods_fp,services_fp,household_total_fp,household_count,county_total_fp,pop_household
0,4913688.0,5060515.0,35.3,9974203.0,9974203.0,5329333.0,832253.0,54409.0,1394349.0,26074.0,...,"20,684",14.3,7.4,9.5,5.5,6.0,42.7,3267476.0,"139,626,359",3.052571
1,73450.0,79002.0,33.3,152452.0,152452.0,125830.0,5382.0,2287.0,3335.0,254.0,...,"25,857",17.1,8.1,9.8,5.0,5.3,45.4,40074.0,"1,817,869",3.804262
2,125838.0,130964.0,45.1,256802.0,256802.0,203975.0,6913.0,674.0,14565.0,593.0,...,"25,415",18.6,9.6,7.1,7.1,8.4,50.8,104695.0,"5,313,560",2.452858
3,9050.0,8896.0,50.2,17946.0,17946.0,15850.0,155.0,598.0,232.0,74.0,...,"24,737",16.7,6.8,7.1,4.7,5.2,40.4,8431.0,"340,582",2.128573
4,43979.0,43633.0,42.0,87612.0,87612.0,72141.0,705.0,4169.0,1570.0,186.0,...,"23,821",16.1,7.6,7.6,4.8,5.2,41.3,37076.0,"1,531,147",2.363038
5,131899.0,129710.0,30.2,261609.0,261609.0,168794.0,9115.0,2024.0,19842.0,572.0,...,"24,111",16.0,8.3,9.9,5.0,5.2,44.4,68307.0,"3,029,862",3.829900
6,4727.0,4608.0,47.1,9335.0,9335.0,8396.0,108.0,236.0,52.0,0.0,...,"22,938",15.3,9.0,7.0,4.2,4.6,40.2,4231.0,"169,888",2.206334
7,7520.0,6673.0,37.2,14193.0,14193.0,11993.0,63.0,380.0,116.0,132.0,...,"17,334",12.4,6.8,7.3,5.3,5.9,37.8,11236.0,"424,653",1.263172
8,218060.0,206867.0,33.3,424927.0,424927.0,319839.0,11826.0,4161.0,26497.0,2183.0,...,"24,316",16.6,7.6,10.1,5.8,6.3,46.4,129027.0,"5,990,811",3.293318
9,69301.0,69952.0,40.3,139253.0,139253.0,107543.0,2992.0,696.0,10362.0,356.0,...,"25,628",17.9,8.1,7.8,5.9,6.7,46.3,45460.0,"2,106,150",3.063198
10,48812.0,49794.0,48.8,98606.0,98606.0,91335.0,358.0,978.0,1476.0,165.0,...,"26,617",18.2,8.1,7.4,5.4,6.1,45.3,44534.0,"2,015,189",2.214173
11,1525071.0,1561260.0,36.7,3086331.0,3086331.0,1942675.0,50766.0,11852.0,573661.0,9472.0,...,"25,047",17.6,7.9,9.4,6.5,7.3,48.8,971565.0,"47,379,355",3.176659
12,176490.0,185028.0,40.7,361518.0,361518.0,303509.0,4652.0,2372.0,23317.0,701.0,...,"28,502",19.9,9.0,7.9,6.3,7.3,50.4,106507.0,"5,366,932",3.394312
13,9754.0,9532.0,50.6,19286.0,19286.0,17273.0,135.0,533.0,198.0,160.0,...,"22,989",15.6,8.3,6.9,4.7,5.2,40.7,10690.0,"435,530",1.804116
14,1127924.0,1138975.0,34.2,2266899.0,2266899.0,1480532.0,141350.0,22045.0,138538.0,7152.0,...,"24,508",16.7,9.1,9.3,5.5,6.0,46.6,585028.0,"27,271,886",3.874856
15,709679.0,740598.0,35.3,1450277.0,1450277.0,865905.0,146236.0,12376.0,214861.0,14533.0,...,"22,352",15.5,8.3,8.1,5.5,6.1,43.5,475394.0,"20,670,484",3.050684
16,28428.0,28460.0,34.8,56888.0,56888.0,48133.0,574.0,413.0,1205.0,84.0,...,"33,498",22.7,9.7,10.0,6.5,7.1,56.0,15953.0,"893,689",3.565975
17,1033761.0,1044825.0,32.2,2078586.0,2078586.0,1306230.0,180267.0,18520.0,136494.0,7172.0,...,"24,337",16.5,9.0,9.6,5.5,5.9,46.7,600443.0,"28,025,418",3.461754
18,1598266.0,1584877.0,34.9,3183143.0,3183143.0,2259494.0,160316.0,21329.0,357998.0,14343.0,...,"23,111",16.1,7.6,8.5,5.7,6.4,44.2,1040131.0,"45,982,784",3.060329
19,421516.0,407556.0,38.6,829072.0,829072.0,410245.0,47611.0,3124.0,278274.0,3566.0,...,"14,754",11.4,6.9,7.4,6.1,7.0,38.8,346527.0,"13,443,701",2.392518
20,348616.0,352434.0,33.2,701050.0,701050.0,405458.0,50377.0,6034.0,102469.0,3980.0,...,"24,769",16.8,8.4,9.2,5.4,5.8,45.6,188869.0,"8,607,841",3.711832
21,139946.0,134238.0,39.5,274184.0,274184.0,231961.0,5791.0,2045.0,10205.0,85.0,...,"25,256",17.2,7.7,7.5,5.2,5.8,43.5,101633.0,"4,421,425",2.697785
22,363891.0,375946.0,39.4,739837.0,739837.0,417138.0,19503.0,2524.0,192649.0,10463.0,...,"25,609",18.7,7.9,8.2,7.3,8.6,50.8,253422.0,"12,862,489",2.919387
23,216370.0,215185.0,33.6,431555.0,431555.0,319490.0,8471.0,4372.0,21738.0,832.0,...,"24,462",16.8,7.7,8.6,5.6,6.3,45.0,142880.0,"6,435,334",3.020402
24,924848.0,916721.0,36.6,1841569.0,1841569.0,907336.0,48660.0,9658.0,610916.0,6739.0,...,"27,920",20.1,8.3,9.2,7.5,8.7,53.8,588982.0,"31,678,795",3.126698
25,132817.0,134386.0,36.9,267203.0,267203.0,215832.0,2459.0,1610.0,11686.0,384.0,...,"25,873",18.0,7.9,8.6,6.1,6.9,47.6,119876.0,"5,701,156",2.228995
26,87692.0,90828.0,41.9,178520.0,178520.0,155559.0,1759.0,4214.0,4462.0,326.0,...,"24,200",16.2,8.2,7.6,4.7,5.1,41.8,71183.0,"2,978,404",2.507902
27,1481.0,1538.0,53.5,3019.0,3019.0,2793.0,4.0,21.0,3.0,16.0,...,"25,378",17.1,7.9,7.1,4.7,5.2,42.0,1929.0,"80,948",1.565060
28,22021.0,22240.0,47.3,44261.0,44261.0,38114.0,574.0,1326.0,627.0,233.0,...,"23,373",15.6,9.8,7.1,4.3,4.7,41.5,22452.0,"931,484",1.971361
29,209901.0,211723.0,37.2,421624.0,421624.0,226669.0,59510.0,2340.0,63233.0,3654.0,...,"27,386",18.9,8.8,8.8,6.1,6.9,49.5,137539.0,"6,807,544",3.065487
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2891,4063.0,3003.0,32.1,7066.0,7066.0,5822.0,730.0,79.0,33.0,86.0,...,"22,203",14.8,13.1,7.1,4.2,4.5,43.7,3120.0,"136,305",2.264744
2892,5263.0,5284.0,45.5,10547.0,10547.0,10032.0,51.0,147.0,35.0,0.0,...,"30,009",19.8,13.2,7.4,4.6,5.1,50.2,3709.0,"186,050",2.843624
2893,1550.0,1481.0,34.3,3031.0,3031.0,2479.0,134.0,22.0,4.0,0.0,...,"25,005",16.4,16.5,8.4,4.3,4.5,50.2,1485.0,"74,492",2.041077
2894,1647.0,1613.0,49.7,3260.0,3260.0,3121.0,27.0,26.0,3.0,0.0,...,"23,374",15.6,12.2,7.0,4.3,4.6,43.7,2301.0,"100,465",1.416775
2895,4261.0,4395.0,47.1,8656.0,8656.0,8077.0,199.0,45.0,79.0,0.0,...,"23,561",15.5,12.6,7.0,4.0,4.3,43.5,5142.0,"223,613",1.683392
2896,411046.0,425901.0,35.7,836947.0,836947.0,612604.0,73607.0,3456.0,100136.0,500.0,...,"29,323",20.9,14.5,8.1,7.1,8.3,58.9,674703.0,"39,724,931",1.240467
2897,1495.0,1558.0,36.7,3053.0,3053.0,2602.0,104.0,56.0,6.0,0.0,...,"23,899",15.7,14.1,7.4,4.1,4.3,45.6,1608.0,"73,285",1.898632
2898,10225.0,10546.0,43.4,20771.0,20771.0,17034.0,2769.0,100.0,70.0,0.0,...,"24,117",16.1,13.0,7.7,4.6,4.9,46.3,8928.0,"413,027",2.326501
2899,57109.0,58699.0,42.5,115808.0,115808.0,106233.0,2282.0,498.0,857.0,21.0,...,"28,853",19.6,12.9,8.0,5.5,6.2,52.3,526939.0,"27,558,559",0.219775
2900,6763.0,6992.0,43.6,13755.0,13755.0,13119.0,55.0,32.0,9.0,0.0,...,"24,643",16.3,12.2,7.5,4.3,4.6,44.8,6435.0,"288,133",2.137529
2901,2770.0,1321.0,40.9,4091.0,4091.0,3640.0,52.0,17.0,15.0,0.0,...,"24,621",16.3,13.1,7.4,4.4,4.7,46.0,1426.0,"65,570",2.868864
2902,19136.0,19422.0,39.4,38558.0,38558.0,35448.0,998.0,378.0,294.0,24.0,...,"27,903",18.6,12.7,7.8,4.9,5.4,49.4,13890.0,"686,657",2.775954
2903,37585.0,38691.0,30.5,76276.0,76276.0,54815.0,11999.0,526.0,1526.0,705.0,...,"26,707",17.8,12.4,8.1,4.9,5.4,48.6,20250.0,"985,013",3.766716
2904,719.0,877.0,50.7,1596.0,1596.0,1291.0,184.0,39.0,2.0,0.0,...,"23,018",15.2,13.5,6.9,4.0,4.3,43.8,1053.0,"46,088",1.515670
2905,2340.0,2262.0,34.1,4602.0,4602.0,2879.0,160.0,58.0,0.0,0.0,...,"24,342",16.1,13.5,8.8,4.6,4.9,47.8,1511.0,"72,295",3.045665
2906,1980.0,1891.0,38.6,3871.0,3871.0,2854.0,6.0,0.0,0.0,0.0,...,"23,987",15.9,12.5,8.0,4.5,4.7,45.6,1816.0,"82,746",2.131608
2907,2912.0,3113.0,38.4,6025.0,6025.0,5359.0,254.0,3.0,0.0,21.0,...,"24,619",16.1,16.6,8.4,4.2,4.4,49.7,2841.0,"141,316",2.120732
2908,1109.0,1216.0,39.0,2325.0,2325.0,2252.0,16.0,13.0,0.0,3.0,...,"24,385",15.9,14.1,8.6,4.2,4.3,47.0,1217.0,"57,255",1.910435
2909,3692.0,3265.0,30.8,6957.0,6957.0,5875.0,97.0,112.0,59.0,0.0,...,"27,125",18.0,16.1,7.8,4.6,5.0,51.5,4009.0,"206,613",1.735345
2910,1208920.0,1240023.0,32.9,2448943.0,2448943.0,1441979.0,542525.0,8590.0,132872.0,1284.0,...,"23,181",16.0,12.3,8.3,5.5,6.1,48.3,934772.0,"45,134,494",2.619829
2911,7721.0,5872.0,33.1,13593.0,13593.0,10790.0,863.0,245.0,42.0,2.0,...,"22,859",15.1,13.0,8.1,4.3,4.6,45.1,5343.0,"240,855",2.544076
2912,9604.0,9727.0,31.4,19331.0,19331.0,17042.0,190.0,97.0,53.0,0.0,...,"25,553",16.8,15.6,8.9,4.5,4.7,50.5,6841.0,"345,563",2.825756
2913,2568.0,2671.0,43.7,5239.0,5239.0,4455.0,450.0,36.0,35.0,0.0,...,"25,566",16.9,12.9,7.5,4.3,4.6,46.2,2410.0,"111,324",2.173859
2914,348748.0,359879.0,33.8,708627.0,708627.0,551219.0,60946.0,3044.0,50026.0,555.0,...,"29,976",20.9,14.0,8.3,6.6,7.6,57.3,186153.0,"10,661,106",3.806691
2915,1277.0,1062.0,43.6,2339.0,2339.0,2072.0,125.0,13.0,3.0,0.0,...,"23,039",15.3,13.4,6.8,4.1,4.4,44.1,1707.0,"75,199",1.370240
2916,5115.0,5422.0,35.6,10537.0,10537.0,9898.0,66.0,6.0,4.0,0.0,...,"21,994",14.2,12.9,9.2,4.1,4.1,44.6,3965.0,"176,665",2.657503
2917,1785.0,1851.0,43.8,3636.0,3636.0,3369.0,205.0,26.0,16.0,2.0,...,"23,871",15.9,12.8,6.9,4.3,4.7,44.6,2405.0,"107,268",1.511850
2918,6084.0,5560.0,37.6,11644.0,11644.0,10018.0,105.0,59.0,43.0,0.0,...,"22,255",14.4,13.2,8.7,4.0,4.0,44.5,5861.0,"260,560",1.986692
2919,8969.0,9434.0,42.4,18403.0,18403.0,17130.0,514.0,37.0,18.0,0.0,...,"23,211",15.4,12.4,7.2,4.2,4.5,43.6,10009.0,"436,378",1.838645
2920,72359.0,72573.0,30.9,144932.0,144932.0,122535.0,6227.0,1026.0,1185.0,38.0,...,"21,999",14.7,12.1,8.2,4.6,4.9,44.5,50246.0,"2,238,009",2.884449

In [15]:
variables_to_clean = ['electricity'  , 'natural_gas', 'fuel_oil'       , 
                      'vehicle_miles', 'housing_fp' , 'county_total_fp']

for variable in variables_to_clean:
    climate_census[variable] = climate_census[variable].str.replace(' ', '')
    climate_census[variable] = climate_census[variable].str.replace('-', '')
    climate_census[variable] = climate_census[variable].str.replace(',', '')

In [16]:
#Regression with robustcov
# Regressions on transportation
lm_transport = smf.ols(formula = 'transport_fp ~ gross_income_pc + high_school_pc + some_college_pc + college_pc + grad_school_pc + white_pc + black_pc + native_american_pc + asian_pc + pacific_islander_pc + other_pc + multi_racial_pc + female_pc + male_pc + unemployment_rate_pc + poverty_rate_pc + pop_household', 
                       data = climate_census).fit().get_robustcov_results()
#print(lm_transport.params) 
lm_transport_summary = lm_transport.summary()
lm_transport_summary

C:\Users\Shaena\Anaconda3\lib\site-packages\statsmodels\base\model.py:1532: ValueWarning: covariance of constraints does not have full rank. The number of constraints is 17, but rank is 16
  'rank is %d' % (J, J_), ValueWarning)

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:           transport_fp   R-squared:                       0.436
Model:                            OLS   Adj. R-squared:                  0.433
Method:                 Least Squares   F-statistic:                 1.851e+04
Date:                Sat, 24 Aug 2019   Prob (F-statistic):               0.00
Time:                        11:29:38   Log-Likelihood:                -5722.1
No. Observations:                2920   AIC:                         1.148e+04
Df Residuals:                    2904   BIC:                         1.157e+04
Df Model:                          15
Covariance Type:                  HC1
========================================================================================
                           coef    std err          t      P>|t|      [0.025      0.975]
----------------------------------------------------------------------------------------
Intercept              -14.7417      4.113     -3.584      0.000     -22.807      -6.676
gross_income_pc         19.2067      7.041      2.728      0.006       5.400      33.013
high_school_pc          10.6651      1.362      7.832      0.000       7.995      13.335
some_college_pc         11.5940      1.222      9.484      0.000       9.197      13.991
college_pc              14.8233      2.085      7.111      0.000      10.736      18.911
grad_school_pc           3.9906      3.082      1.295      0.195      -2.053      10.034
white_pc                 5.0679      1.269      3.993      0.000       2.579       7.556
black_pc                 1.9742      1.256      1.571      0.116      -0.489       4.438
native_american_pc      -0.8489      1.201     -0.707      0.480      -3.204       1.507
asian_pc                 4.8087      3.591      1.339      0.181      -2.232      11.849
pacific_islander_pc    -28.9739      9.229     -3.139      0.002     -47.071     -10.877
other_pc                -2.3322      1.831     -1.274      0.203      -5.923       1.258
multi_racial_pc          5.5625      2.556      2.176      0.030       0.550      10.575
female_pc              -10.7523      2.113     -5.090      0.000     -14.895      -6.610
male_pc                 -3.9894      2.442     -1.634      0.102      -8.777       0.798
unemployment_rate_pc   -12.3906      2.896     -4.279      0.000     -18.069      -6.712
poverty_rate_pc         49.7358      6.080      8.180      0.000      37.814      61.658
pop_household            0.7604      0.104      7.308      0.000       0.556       0.964
==============================================================================
Omnibus:                      114.144   Durbin-Watson:                   1.527
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              296.436
Skew:                           0.167   Prob(JB):                     4.26e-65
Kurtosis:                       4.525   Cond. No.                     8.42e+16
==============================================================================

Warnings:
[1] Standard Errors are heteroscedasticity robust (HC1)
[2] The smallest eigenvalue is 3.87e-30. This might indicate that there are
strong multicollinearity problems or that the design matrix is singular.
"""

In [17]:


#Regression
# Regressions on  housing
lm_housing = smf.ols(formula = 'housing_fp ~ gross_income_pc + high_school_pc + some_college_pc + college_pc + grad_school_pc + white_pc + black_pc + native_american_pc + asian_pc + pacific_islander_pc + other_pc + multi_racial_pc + female_pc + male_pc + unemployment_rate_pc + poverty_rate_pc + pop_household', data = climate_census).fit().get_robustcov_results()
#print(lm_housing.params) 
lm_housing_summary = lm_housing.summary()

#Regression
# Regressions on goods 
lm_goods = smf.ols(formula = 'goods_fp ~ gross_income_pc + high_school_pc + some_college_pc + college_pc + grad_school_pc + white_pc + black_pc + native_american_pc + asian_pc + pacific_islander_pc + other_pc + multi_racial_pc + female_pc + male_pc + unemployment_rate_pc + poverty_rate_pc + pop_household', data = climate_census).fit().get_robustcov_results()
#print(lm_goods.params) 
lm_goods_summary = lm_goods.summary()

#Regression
# Regressions on services 
lm_services = smf.ols(formula = 'services_fp ~ gross_income_pc + high_school_pc + some_college_pc + college_pc + grad_school_pc + white_pc + black_pc + native_american_pc + asian_pc + pacific_islander_pc + other_pc + multi_racial_pc + female_pc + male_pc + unemployment_rate_pc + poverty_rate_pc + pop_household', data = climate_census).fit().get_robustcov_results()
#print(lm_services.params) 
lm_services_summary = lm_services.summary()

ValueError: shapes (2920,152) and (2920,152) not aligned: 152 (dim 1) != 2920 (dim 0)