In [11]:
# Importing Libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import requests
from census import Census

In [12]:
# CAS API Keys
api_key = "85ac64b6b5a9c0901b00329d1ef41f0c53ccfc98"

#base_url = "https://api.census.gov/data/2014/acs/acs1"

In [13]:
# Importing the Data
c = Census(api_key, year=2014)
print(c)

<census.core.Census object at 0x11c122208>

In [22]:
census_data = c.acs1.get(("NAME"      , "COUNTY"     , "B06009_001E", "B01002_001E",
                         "B06009_001E", "B06009_002E", "B06009_003E", "B06009_004E", 
                         "B06009_005E", "B06009_006E", "B02001_001E", "B02001_002E",
                         "B02001_003E", "B02001_004E", "B02001_005E", "B02001_006E",
                         "B02001_007E", "B02001_008E", "B01001_026E", "B01001_002E",
                         "B23025_005E", "B05010_001E", "B01003_001E"),{'for': 'county:*'})

# Convert to DataFrame
census_pd = pd.DataFrame(census_data)

census_pd.head()
type(census_data)

list

In [21]:
# Column Reordering
census_pd = census_pd.rename(columns={"NAME"        : "county_name"       ,
                                      "COUNTY"      : "county"            , 
                                      "B06009_001E" : "gross_income"      , 
                                      "B01002_001E" : "meadian_age"       ,
                                      "B06009_001E" : "years_of_education", 
                                      "B06009_002E" : "less_than_hs"      , 
                                      "B06009_003E" : "high_school"       , 
                                      "B06009_004E" : "some_college"      , 
                                      "B06009_005E" : "college"           , 
                                      "B06009_006E" : "grad_school"       , 
                                      "B02001_001E" : "total_race"        , 
                                      "B02001_002E" : "white"             ,
                                      "B02001_003E" : "black"             , 
                                      "B02001_004E" : "native_american"   , 
                                      "B02001_005E" : "asian"             , 
                                      "B02001_006E" : "pacific_islander"  ,
                                      "B02001_007E" : "other"             , 
                                      "B02001_008E" : "multi_racial"      , 
                                      "B01001_026E" : "female"            , 
                                      "B01001_002E" : "male"              ,
                                      "B23025_005E" : "unemployment_rate" ,
                                      "B05010_001E" : "poverty_rate"      , 
                                      "B01003_001E" : "population_size"   })

census_pd.head()

,male,female,meadian_age,population_size,total_race,white,black,native_american,asian,pacific_islander,...,less_than_hs,high_school,some_college,college,grad_school,unemployment_rate,county,county_name,county,state
0,75509.0,77905.0,41.9,153414.0,153414.0,145290.0,1604.0,1554.0,2090.0,13.0,...,10865.0,34964.0,34501.0,17928.0,8960.0,4881.0,019,"Penobscot County, Maine",019,23
1,97566.0,103144.0,44.4,200710.0,200710.0,193090.0,1698.0,987.0,2009.0,0.0,...,11603.0,47633.0,44810.0,28380.0,12948.0,5735.0,031,"York County, Maine",031,23
2,38002.0,34950.0,41.5,72952.0,72952.0,64412.0,5716.0,141.0,509.0,0.0,...,5937.0,22070.0,14024.0,4206.0,4753.0,3283.0,001,"Allegany County, Maryland",001,24
3,277092.0,283041.0,38.3,560133.0,560133.0,419564.0,93289.0,861.0,21238.0,0.0,...,30980.0,95685.0,107250.0,91435.0,56870.0,17378.0,003,"Anne Arundel County, Maryland",003,24
4,391680.0,435245.0,39.2,826925.0,826925.0,516823.0,230073.0,1564.0,48422.0,349.0,...,55022.0,158116.0,145219.0,122997.0,88996.0,27675.0,005,"Baltimore County, Maryland",005,24